<article id="geodata">
  <h1>Geodata</h1>

  <ul>
    <li>
      GPS Location: <%=@data_latest.lat%> / <%=@data_latest.long%>
    </li>
    <li>
      Speed: <%=@data_latest.speed%> Knots
    </li>
    <li>
      Bearing: <%=@data_latest.bearing%>&deg;
    </li>
  </ul>
</article>
