<article id="weather">
  <h1>Weather</h1>

  <ul>
    <li>
      Wind: <%=@data_latest.windspeed%> Knots bearing <%=@data_latest.winddir%>&deg;
    </li>
    <li>
      Water Temperature: <%=@data_latest.watertemp%> Knots
    </li>
    <li>
      Water Speed: <%=@data_latest.waterspeed%>
    </li>
  </ul>
</article>
