<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title><%= "#{@page[:title]} - " unless @page[:title].empty? %>Ellipsis</title>
  <meta name="description" content="BOAT">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/vendor/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="sidebar">
      <div class="sidebar__title">Ellipsis</div>
      <ul class="sidebar__links">
        <li><a href="/#geodata">Geodata</a></li>
        <li><a href="/#weather">Weather</a></li>
        <li><a href="/raw_weather">Raw Weather</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/library">Library</a></li>
      </ul>
    </nav>

    <div class="main">
      <%= yield %>
    </div>
  </div>

  <script src="/js/vendor/jquery-1.11.0.min.js"></script>
  <!--
  <script src="/js/main.js"></script>
  -->
<%=yield_content :footer_scripts%>
</body>
</html>
