<div id="map-canvas" style="height: 600px;"></div>

<% content_for :footer_scripts do %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=@gmaps_api_key%>&amp;sensor=false"></script>
<script src="/js/ellipsis-map.js"></script>
<script>
google.maps.event.addDomListener(window, 'load', function(){
  new ellipsisMap(document.getElementById("map-canvas"));
});
</script>
<% end %>
