.no-js .hiddenifjs { display:block; }
.hiddenifjs { display:none; }

h1, h2, .sidebar__title {
  font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color: #53637D;
  font-weight: normal;
  margin-top: 0;
}

.wrapper {

}

/* Sidebar */
.sidebar {
  padding:2em 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background-color: #eaeef3;
  border-right: 1px solid #c6c9ce;
}

.sidebar__title {
  font-size: 25px;
  margin-bottom: 20px;
  padding: 0 16px;
  text-align:right;
}

.sidebar__links {
  list-style-type: none;
  padding-left: 0;
}

.sidebar__links a {
  display:block;
  color: #426dc9;
  text-decoration: none;
  text-align: right;
  padding: 0.5em 16px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.sidebar__links li a:focus {
  border-top-color: #8faad9;
  border-bottom-color: #8faad9;
}

.sidebar__links li.active a {
  color: #000;
  background-color: #bbcee9;
  border-top-color: #8faad9;
  border-bottom-color: #8faad9;
}

/* Main Frame */
.main {
  padding: 2em 32px;
  margin-left: 150px;
}

/* Filters */

.filters {
  margin-bottom: 1em;
}

.last-updated {
  margin-bottom: 1em;
}

/* Dashboard sections */
.dashboard {
  margin-bottom: 2em;
}

.dashboard__heading {
  margin-bottom: 0.25em;
}

/* Tables */
.table {
  border:0;
  width:100%;
  text-align:left;
}

.table th {
  vertical-align: bottom;
}

.table td,
.table th {
  border:0;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid;
}

.table tbody tr:last-child td {
  border-bottom: 0;
}

.td--right {
  text-align:right;
}

/* Map */
.map__info {
  /*width: 240px;*/
}
.map__info__coordinates {
  white-space:nowrap;
}
